/* 定义变量 */
:root {
  --primary-color: #ff9854;
  --line-color: #faf8f9;
  /* 方法一：全局修改： 组件内的变量 */
  /* 如果不行，就在后面加上 !important 强制修改 */
  /* --van-tabbar-item-icon-size:30px !important */

  /* 全局修改：修改search样式 (修改Vant搜索框左侧图标变量)*/
  --van-search-left-icon-color:var(--primary-color) !important;
  --theme-liner-gradient:linear-gradient(90deg, #fa8c1d, #fcaf3f);
}

/* 公共的css */
body {
  font-size: 14px;
}

/* 通过css隐藏tabbar*/
.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}

.ItemContent {
  height: calc(100vh - 55px);
  overflow-y: auto;
}